[Unit]
Description=Find Victoria every 30 second
[Timer]
OnUnitActiveSec=30
#добавляем максимальную точность, тк по умолчанию стоит 1 минута, а таймер 30 сек.
AccuracySec=1us
Unit=watcher.service

[Install]
WantedBy=multi-user.target
