#version=RHEL8
ignoredisk --only-use=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
graphical
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain
repo --name="Minimal" --baseurl=file:///run/install/repo/Minimal
# Root password
rootpw --iscrypted $6$P2mIkQM2XzzCfm3d$6ycRoiSW1n/N81LZ1K6dWA7LjJs06hYZ25GhySW3FqmPH/Tsp8dnPLr0epij7tx1NMtCknOnfGDVT1sTq5sHh0
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Moscow --isUtc
user --name=otus --password=$6$k.eeU2KDQDzcFN1T$xW2W75Dm1LeFHQeEt/OY/LdfqvEBS4i1x0t9uY/uE.JFUXhH4ssVoR/xmqJCb0/YiXJCNlZUfxNo/DJIF4YUr. --iscrypted --gecos="otus"

%packages
@^server-product-environment
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
