[Unit]
Description=Find Victoria service

[Service]
Type=oneshot
PIDFile=/var/run/watcher.pid
EnvironmentFile=/etc/sysconfig/watcher.conf
ExecStart=/opt/watcher.sh $KEYWORD $FILE

[Install]
 WantedBy=multi-user.target
